# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
.env
.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/lib/generated/prisma






school Abymimo@2017
wachrajosep Washiy011#5?
mainaibrahimm567@gmail.com Mainaibra@2008
josephwangui2003@gmail.com Washiy@2003
wachirawangui123@gmail.com Wachira@2003
wanguijoseph2631@gmail.com   Washiy011#5?